@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

h1, h2, h3 {
  font-family: "Young Serif", serif;
}

p, li, th {
  color: hsl(30, 10%, 34%);
}

body {
  background-color: hsl(30, 54%, 90%);
}

main {
  max-width: 1440px;
  margin: 200px auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 40px;
}
header img {
  max-width: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.section-recipe {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-recipe .div-recipe h1 {
  font-size: 40px;
  color: hsl(24, 5%, 18%);
  margin-bottom: 30px;
}
.section-recipe .div-recipe p {
  font-size: 18px;
}
.section-recipe .div-preparation {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
}
.section-recipe .div-preparation h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
.section-recipe .div-preparation ul {
  margin-left: 20px;
}
.section-recipe .div-preparation li {
  font-size: 18px;
  margin-bottom: 20px;
}
.section-recipe .div-preparation li span {
  color: hsl(30, 10%, 34%);
  font-weight: 700;
  margin-left: 20px;
}

.section-ingredients {
  padding: 30px 50px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid hsl(30, 54%, 90%);
}
.section-ingredients h2 {
  color: hsl(14, 45%, 36%);
  font-size: 32px;
  margin-bottom: 20px;
}
.section-ingredients ul {
  font-size: 18px;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-instructions {
  padding: 30px 50px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid hsl(30, 54%, 90%);
}
.section-instructions h2 {
  color: hsl(14, 45%, 36%);
  font-size: 32px;
  margin-bottom: 20px;
}
.section-instructions ol {
  font-size: 18px;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-instructions ol li span {
  font-weight: 700;
}
.section-instructions ol li::marker {
  font-weight: bold;
}

.section-nutrition {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  gap: 20px;
}
.section-nutrition h2 {
  color: hsl(14, 45%, 36%);
  font-size: 32px;
}
.section-nutrition p {
  font-size: 18px;
}
.section-nutrition table {
  width: 100%;
  padding: 0 40px;
}
.section-nutrition table tr {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  border-bottom: 1px solid hsl(30, 54%, 90%);
  text-align: left;
  padding: 20px;
}
.section-nutrition table tr th {
  font-size: 18px;
  font-weight: 400;
  color: hsl(332, 51%, 32%);
  width: 28%;
}
.section-nutrition table tr td {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  width: 28%;
}/*# sourceMappingURL=style.css.map */